.lastminute h1 {
    padding: 20px 30px;
    margin-right: auto;
    margin-left: 30px;
    font-size: 2rem;
    font-weight: bold;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    color: #FBFBFB;
    background-color: rgba(0, 0, 0, 0.264);
    letter-spacing: 2px;
}

.lastminutePhoto {
    width: 170px;
    height: 120px;
}

.lastminuteOffert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottomLastminuteBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}