@import url('../fonts/fonts.css');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fbfbfbb9;
    font-family: 'roboto';
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px grey;
}

.nav-items {
    padding-right: 5%;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 8%;
    padding-right: 2%;
    font-family: 'luckiest guy';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.logo .first-logo-node {
    color: #00E5FF;
    margin-left: 3px;
}

.logo .second-logo-node {
    color: #FFC400;
}

nav .nav-items .nav-item {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
}

.nav-link {
    color: #FFC400;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border: 1px solid transparent;
    letter-spacing: 1px;
}

.nav-link:hover {
   border: 1px solid #DCDCDC;
   border-radius: 20px;
   transition: 200ms;
}

.active {
    border-radius: 20px;
    background-color: #FFC400;
    color: #FFFFFF;
}

.hamburger {
    display: none;
}

@media (max-width: 1050px) {
    .logo {
        margin-bottom: 13px;
        margin-top: 13px;
    } 
    
    .nav-items {
        display: none;
    }

    .hamburger {
        margin-right: 15px;
        position: relative;
        display: block;
        width: 40px;
        cursor: pointer;
        height: 35px;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .bar, .hamburger::after, .hamburger::before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #FFC400;
        margin: 4px 0px;
        transition: 0.4s;
    }

    .hamburger.is-active::before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
    }

    .hamburger.is-active::after {
        transform: rotate(45deg) translate(-6px, -5px);
    }
}