.image-slider {
    height: 500px;
    width: 96%;
    position: relative;
    overflow: hidden;
    background-image: url('../images/zdjecie1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 20px;
}

.image-slider:hover {
    cursor: pointer;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 35%;
    width: 30%;
    text-align: center;
    padding: 4em 1em 2em 1em;
}

.caption h1 {
    color: #FBFBFB;
    backdrop-filter: blur(10px);
    font-size: 2rem;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(28, 26, 26);
}

.caption p {
    color: #FBFBFB;
    backdrop-filter: blur(10px);
    font-size: 25px;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(28, 26, 26);
}

.arrow-left, .arrow-right {
    background-color: #FBFBFB;
    position: absolute;
    top: 45%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.arrow-left:hover, .arrow-right:hover {
    background-color: #DCDCDC;
}

.arrow-left {
    left: 1em;
}

.arrow-right {
    right: 1em;
}

.image-fade {
    animation: imgFade 0.5s ease-in-out;
}

.helper {
    opacity: 0;
    position: sticky;
    padding: 30px;
    color: #FBFBFB;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tooltip {
    opacity: 1;
    transition: 0.3s;
}

@keyframes imgFade {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

