<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/nav.css">
    <link rel="stylesheet" href="../assets/styles/home.css">
    <link rel="stylesheet" href="../assets/styles/aboutus.css">
    <link rel="stylesheet" href="../assets/styles/offers.css">
    <link rel="stylesheet" href="../assets/styles/lastminute.css">
    <link rel="stylesheet" href="../assets/styles/footer.css">
    <link rel="stylesheet" href="../assets/styles/offersDetails.css">
    <link rel="stylesheet" href="../assets/styles/opinions.css">
    <link rel="stylesheet" href="../assets/styles/opinionDetails.css">
    <script src="../assets/javascript/date.js"></script>
    <script src="../assets/javascript/timecounter.js"></script>
    <script src="../assets/javascript/progress.js"></script>
    <script src="../assets/javascript/slider.js"></script>
    <script src="../assets/javascript/navbar.js"></script>
    <script src="../assets/javascript/hamburger.js"></script>
    <script src="../assets/javascript/openModals.js"></script>
    <script src="../server/show_data.js"></script>
    <script src="../assets/javascript/validation_opinion.js"></script>
    <title>Dreamtour</title>
  </head>
  <body>
    <div class="main-container">
        <nav class="desktop-nav">
            <div class="logo">
                <img width="45" height="45" src="https://img.icons8.com/color/48/coco-tree.png" alt="coco-tree"/>
                <span class="first-logo-node">Dream</span><span class="second-logo-node">tour</span>
            </div>
            <ul class="nav-items">
                <li class="nav-item" data-box="home">
                    <a href="javascript:void(0)" class="nav-link" data-box="home">Home</a>
                </li>
                <li class="nav-item" data-box="offers">
                    <a href="javascript:void(0)" class="nav-link" data-box="offers">Oferty</a>
                </li>
                <li class="nav-item" data-box="lastminute">
                    <a href="javascript:void(0)" class="nav-link" data-box="lastminute">Last Minute</a>
                </li>
                <li class="nav-item" data-box="opinions">
                    <a href="javascript:void(0)" class="nav-link" data-box="opinions">Opinie</a>
                </li>
                <li class="nav-item" data-box="contact">
                    <a href="javascript:void(0)" class="nav-link" data-box="contact">Kontakt</a>
                </li>
            </ul>
            <button class="hamburger">
                <div class="bar"></div>
            </button>
        </nav>
        <nav class="mobile-nav">
            <a href="javascript:void(0)" class="nav-link-mobile" data-box="home">Home</a>
            <a href="javascript:void(0)" class="nav-link-mobile" data-box="offers">Oferty</a>
            <a href="javascript:void(0)" class="nav-link-mobile" data-box="lastminute">Last Minute</a>
            <a href="javascript:void(0)" class="nav-link-mobile" data-box="opinions">Opinie</a>
            <a href="javascript:void(0)" class="nav-link-mobile" data-box="contact">Kontakt</a>
        </nav>
        <div class="container"></div>
            <section class="content-home home navcontent" data-box="home">
                <h1>Gotowy na wakacje życia?</h1>
                <button class="show-offerts" data-box="offers">Zobacz oferty</button>
                <div class="timebox">
                    <div class="current-date" id="current-date"></div>
                    <div class="timecounter" id="timecounter"></div>
                </div>
            </section>
            <section class="content aboutus navcontent" data-box="home">
                <h1>Kim jesteśmy?</h1>
                <p>DreamTour to projekt internetowy na zaliczenie przedmiotu na studiach. Prezentuje on symulacje prostego serwisu turystycznego oferującego wycieczki.</p>
                <div class="progress-bars">
                    <div class="progress-bars-group1">
                        <span id="count-progress1"></span>
                        <div class="progress-bar1"></div>
                    </div>
                    <div class="progress-bars-group2">
                        <span id="count-progress2"></span>
                        <div class="progress-bar2"></div>
                    </div>
                </div>
            </section>
            <section id="offers" class="content offerts navcontent" data-box="offers">
                <div class="image-slider">
                    <span class="helper"><img width="50" height="50" src="https://img.icons8.com/color/96/nui2.png" alt="nui2"/>Kliknij aby dowiedzieć się więcej</span>
                    <div class="arrow-left">
                        <span>&#10094</span>
                    </div>
                    <div class="arrow-right">
                        <span>&#10095</span>
                    </div>
                    <div class="caption">
                        <h1>Turcja</h1>
                        <p>Piękne widoki</p>
                    </div>
                </div>
            </section>
            <section id="offers-details" class="offers-details">
                <div class="modal-section">
                    <div class="tour-details">
                        <h2 class="tour-header"></h2>
                        <p class="tour-description"></p>
                        <div class="tour-sections">            
                                <img class="tour-img" src="" alt="tourPhoto"/>            
                            <div class="tour-informations">
                                <span class="tour-single-info">
                                    <img width="24" height="24" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>
                                      All-inclusive
                                </span>
                                <span class="tour-single-info">
                                    <img width="24" height="24" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>
                                      Lot samolotem - 8 dni
                                </span>
                                <span class="tour-single-info">
                                    <img width="24" height="24" src="https://img.icons8.com/ios/50/food-and-wine.png" alt="food-and-wine"/>
                                      Drink Bar
                                </span>
                                <span class="tour-single-info">
                                    <img width="24" height="24" src="https://img.icons8.com/ios/50/lap-pool.png" alt="lap-pool"/>
                                      Basen hotelowy
                                </span>
                                <p>
                                    Po więcej informacji zapraszamy do rezerwacji i dokładnej rozmowy z naszym korspondentem
                                </p>
                            </div>
                        </div>
                    </div>
                    <button class="booked-tour">Zarezerwuj</button>
                </div>
            </section>
            <section class="content lastminute navcontent" data-box="lastminute">
                <h1>Ostatnie chwile</h1>
                <div class="lastminuteOfferts">
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/tunezja.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Tunezja - Gorące wybrzeże</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>all inclusive</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>Samolot - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/piramidy.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Egipt - piramidy</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>all inclusive</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>Samolot - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/hurghada.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Egipt - Hurghada</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>Obiado-kolacja</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>Samolot - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/korynt.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Grecja - Korynt</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>all inclusive</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>Samolot - 5 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/split.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Chorwacja - Split</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>Śniadanie</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>Samolot - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/macedonia.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Macedonia - spokój i cisza</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>Obiado-kolacja</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/bus.png" alt="bus"/>Autobus - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/zanzibar.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Zanzibar - egzotyka</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>all inclusive</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>Samolot - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/ateny.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Grecja - Ateny</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>all inclusive</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/airport.png" alt="airport"/>Samolot - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                    <div class="lastminuteOffert">
                        <img class="lastminutePhoto" src="../assets/images/bulgaria.jpg" alt="zdjecie1"/>
                        <div class="bottomLastminuteBar">
                            <p class="direction">Bułgaria - Złote Piaski</p>
                            <p class="foodOption"><img width="18" height="18" src="https://img.icons8.com/external-outline-andi-nur-abdillah/64/external-food-baby-outline-outline-andi-nur-abdillah.png" alt="external-food-baby-outline-outline-andi-nur-abdillah"/>all inclusive</p>
                            <p class="accomodation"><img width="18" height="18" src="https://img.icons8.com/ios/50/bus.png" alt="bus"/>Autobus - 8 dni</p>
                            <button class="checkLastMinute">Sprawdź</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content opinions navcontent" data-box="opinions">          
                    <h1>Sekcja opinii</h1>
                    <button class="add-opinion" id="add-opinion">Dodaj Opinie</button>
                    <div class="comment" id="comment"></div>                       
            </section>
            <section id="opinion-details" class="opinion-details">
                <div class="modal-section2">
                    <div class="opinion-add-section">
                        <h2>Dodaj opinię</h2>
                        <form id="opinionForm" method="post" action="../server/add_opinion.php" onsubmit="return validateForm()">
                            <label for="Imię">Imię i Nazwisko:</label>
                            <input type="text" id="user-name" name="user-name" required><br><br>
                            <label for="Opinia">Opinia:</label><br>
                            <textarea id="user-opinion" name="user-opinion" rows="10" cols="20" required></textarea><br><br>
                            <input type="submit" class="button-send-opinion" value="Dodaj opinię">
                        </form>
                    </div>
                </div>
            </section>
            <footer class="navcontent" data-box="contact">
                <div class="footer-grid">
                    <form class="contact" method="POST">         
                        <h1>Wyślij nam wiadomość</h1>
                        <label for="name1">Podaj imię:</label>
                        <input type="text" id="name1" name="name1" required>

                        <label for="name2">Podaj nazwisko:</label>
                        <input type="text" id="name2" name="name2" required>

                        <label for="email">Adres email:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="message">Wiadomość:</label>
                        <textarea id="message" name="message" rows="10" cols="40" required></textarea>

                        <button class="submit" type="submit">Wyślij</button>
                    </form>
                    <div class="left-footer">
                        <h1>Znajdź nas na social mediach</h1>
                        <div class="socials">
                            <a href="https://www.facebook.com/profile.php?id=100004955928795" target="_blank" class="social-item">
                                <img width="96" height="96" src="https://img.icons8.com/color/96/facebook-new.png" alt="facebook-new"/>
                                <span>Facebook</span>
                            </a>
                            <a href="https://www.instagram.com/michalwegielski/" target="_blank" class="social-item">
                                <img width="96" height="96" src="https://img.icons8.com/fluency/96/instagram-new.png" alt="instagram-new"/>
                                <span>Instagram</span>
                            </a>
                            <a href="https://github.com/MichalWegielski" target="_blank" class="social-item">
                                <img width="100" height="100" src="https://img.icons8.com/plasticine/100/github.png" alt="github"/>
                                <span>Github</span>
                            </a>
                            <a href="https://www.linkedin.com/in/micha%C5%82-w%C4%99gielski-4487252b8/" target="_blank" class="social-item">
                                <img width="96" height="96" src="https://img.icons8.com/fluency/96/linkedin.png" alt="linkedin"/>
                                <span>LinkedIn</span>
                            </a>
                        </div>
                        <hr/>
                        <div class="cooperators">
                            <p>Partnerzy: </p>
                            <a href="https://github.com/coni-code" class="co-link" target="_blank">
                                <img class="co-image" src="../assets/images/conicode.png" alt="cooperators"/>
                            </a>
                        </div>
                    </div>
                </div>
                <p>&copy; ConiCode - Michał Węgielski, Projekt</p>
            </footer>
        </div>
    </div>
  </body>
</html>
