<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/nav.css">
    <link rel="stylesheet" href="../assets/styles/home.css">
    <link rel="stylesheet" href="../assets/styles/aboutus.css">
    <link rel="stylesheet" href="../assets/styles/offers.css">
    <link rel="stylesheet" href="../assets/styles/lastminute.css">
    <script src="../assets/javascript/date.js"></script>
    <script src="../assets/javascript/timecounter.js"></script>
    <script src="../assets/javascript/progress.js"></script>
    <script src="../assets/javascript/slider.js"></script>
    <title>Dreamtour</title>
  </head>
  <body>
    <div class="main-container">
        <nav>
            <div class="logo">
                <img width="45" height="45" src="https://img.icons8.com/color/48/coco-tree.png" alt="coco-tree"/>
                <span class="first-logo-node">Dream</span><span class="second-logo-node">tour</span>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Oferty</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Last Minute</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Opinie</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Promocje</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Kontakt</a></li>
            </ul>
        </nav>
        <div class="container"></div>
            <section class="content home">
                <h1>Gotowy na wakacje życia?</h1>
                <button class="show-offerts">Zobacz oferty</button>
                <div class="timebox">
                    <div class="current-date" id="current-date"></div>
                    <div class="timecounter" id="timecounter"></div>
                </div>
            </section>
            <section class="content aboutus">
                <h1>Kim jesteśmy?</h1>
                <p>DreamTour to projekt internetowy na zaliczenie przedmiotu na studiach. Prezentuje on symulacje prostego serwisu turystycznego oferującego wycieczki.</p>
                <div class="progress-bars">
                    <div class="progress-bars-group1">
                        <span id="count-progress1"></span>
                        <div class="progress-bar1"></div>
                    </div>
                    <div class="progress-bars-group2">
                        <span id="count-progress2"></span>
                        <div class="progress-bar2"></div>
                    </div>
                </div>
            </section>
            <section class="content offerts">
                <div class="image-slider">
                    <span class="helper"><img width="50" height="50" src="https://img.icons8.com/color/96/nui2.png" alt="nui2"/>Kliknij aby dowiedzieć się więcej</span>
                    <div class="arrow-left">
                        <span>&#10094</span>
                    </div>
                    <div class="arrow-right">
                        <span>&#10095</span>
                    </div>
                    <div class="caption">
                        <h1>Turcja</h1>
                        <p>Piekne widoki</p>
                    </div>
                </div>
            </section>
            <section class="content lastminute">
                <h1>Ostatnie chwile:</h1>
            </section>
            <section class="content opinions">

            </section>
            <footer class="content contact"></footer>
        </div>
    </div>
  </body>
</html>