<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/nav.css">
    <title>Dreamtour</title>
  </head>
  <body>
    <div class="main-container">
        <nav>
            <div class="logo">
                <img width="45" height="45" src="https://img.icons8.com/color/48/coco-tree.png" alt="coco-tree"/>
                <span class="first-logo-node">Dream</span><span class="second-logo-node">tour</span>
            </div>
            <ul class="nav-items">
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Oferty</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Last Minute</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Opinie</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Promocje</a></li>
                <li class="nav-item"><a href="javascript:void(0)" class="nav-link">Kontakt</a></li>
            </ul>
        </nav>
        <div class="container"></div>
            <section class="content home">
                <h1>Test</h1>
            </section>
            <section class="content aboutus">
                <h1>Test</h1>
            </section>
            <section class="content offerts">

            </section>
            <section class="content lastminute">

            </section>
            <section class="content opinions">

            </section>
            <footer class="content contact"></footer>
        </div>
    </div>
  </body>
</html>